
<html>

<a href="/logout">logout </a>
<div class="jumbotron">
  <h1 class="display-4">Hello, Regular User!</h1>
  <p class="lead">As you can see your privilege is pretty useless</p>
  <hr class="my-4">
  <p>If you want some 1337 features, maybe get admin privilege.</p>
  <a class="btn btn-primary btn-lg" href="/admin" role="button">Try it</a>
</div>

</html>
